OPCUA_ENDPOINT=opc.tcp://Ahmed:49320
OPCUA_APPLICATION_URL=urn:Ubuntu:ICSIncidentResponse:OPCUAScenarioClient

OPCUA_CERT=certs/ot-scenario-client-cert.der
OPCUA_PRIVATE_KEY=certs/ot-scenario-client-key.pem

OPCUA_SOURCE_IP=192.168.56.10
OPCUA_SERVER_IP=192.168.56.1
OPCUA_SERVER_PORT=49320

OPCUA_LOG_FILE=logs/opcua_operations.json1
